<div class="contacto-container">
	<app-menu></app-menu>

        <div class="titulo">
            <h1>Contacto</h1>
        </div>
	<section class="container-contacto">
		<div class="redes">
			<h2>Redes</h2>
			<div class="infoGroup">
				<div class="info">
					<a class="btn" href="https://www.facebook.com/Casacam-100504961422952/" target="_blank">
						<fa-icon [icon]="faFacebookF" class="face"></fa-icon>
					</a>
				</div>
				<div class="info">
					<a class="btn" href="https://www.facebook.com/Casacam-100504961422952/" target="_blank">
						<fa-icon [icon]="faYoutube" class="face"></fa-icon>
					</a>
				</div>
				<div class="info">
					<a class="btn" href="https://www.facebook.com/Casacam-100504961422952/" target="_blank">
						<fa-icon [icon]="faTwitter" class="face"></fa-icon>
					</a>
				</div>
			</div>
		</div>
		<div class="contacto">
			<h2>Contactanos</h2>
			<form method="post">
				<div class="row100">
					<div class="col">
						<div class="inputBox">
							<input type="text" name="Nombre" required="required" autocomplete="off">
							<span class="text">Nombres</span>
							<span class="line"></span>
						</div>
					</div>
					<div class="col">
						<div class="inputBox">
							<input type="text" name="Apellido" required="required" autocomplete="off">
							<span class="text">Apellidos</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<div class="inputBox">
							<input type="text" name="email" required="required" autocomplete="off">
							<span class="text">Email</span>
							<span class="line"></span>
						</div>
					</div>
					<div class="col">
						<div class="inputBox">
							<input type="text" name="numero" required="required" autocomplete="off">
							<span class="text">Numero</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<div class="inputBox textarea">
							<textarea name="mensaje" required="required"></textarea>
							<span class="text">Mensaje</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<input type="submit" value="Enviar" onsumbit="return false">
					</div>
				</div>
			</form>
		</div>
	</section>
</div>