*{
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    scroll-behavior: smooth;
}
.catalogo-container {
    background: var(--negro);
    width: 100%;
    padding-bottom: 100px;
    overflow: hidden;
}

.tabs-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    padding-bottom: 16px;
}
.tabs-container button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    margin: 0 20px;
    padding: 3px 10px;
    transition: .3s;
}
.tabs-container button:hover{
    color: var(--turquesa);
}
.catalogo-container > .catalogo >div {
    max-width: 1500px;
    margin: auto;
    /* display: inline-grid; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
    justify-items: center;
    grid-gap: 30px 0;
    /* width: calc( 100% / 4); */
}
.catalogo .bicicleta{
    background-color: #fff;
    width: 70%;
    padding: 20px 15px 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalogo .bicicleta h2{
    text-align: left;
    color: var(--negro);
}
.catalogo .bicicleta figure{
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.catalogo .bicicleta img{
    width: 100%;
}
.catalogo .bicicleta .catalogo-info {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.catalogo .bicicleta .catalogo-info h2{
    text-align: left;
    width: 100%;
}
.catalogo .bicicleta .catalogo-info button {
    background-color: #303030;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 25px;
    color: var(--turquesa);
    width: fit-content;
    /* margin-top: 50px; */
    font-size: .8em;
    transition: .3s;
}

.catalogo .bicicleta .catalogo-info button:hover {
    color: #fff;
}
@media screen and (max-width:1300px){
    .catalogo .bicicleta{
        width: 80%;
    }
}
@media screen and (max-width:1200px){
    .catalogo-container > .catalogo > div{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px 0;
    }
    .catalogo .bicicleta {
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: space-between;
    }
    .catalogo .bicicleta figure {
        height: inherit;
    }
}
@media screen and (max-width: 750px){
    .catalogo-container > .catalogo > div{
        grid-template-columns: repeat(1,1fr);
    }
    .catalogo .bicicleta {
        display: flex;
        flex-direction: initial;
        justify-content: space-around;
    }
    .catalogo .bicicleta figure {
        width: 50%;
    }
    .catalogo .bicicleta .catalogo-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        height: inherit;
    }
    .catalogo .bicicleta .catalogo-info h2{
        text-align: center;
        font-size: 1em;
    }
    .catalogo .bicicleta .catalogo-info button{
        margin-top: 0;
        font-size: .6em;
    }
    .tabs-container .tabs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
