<div class="catalogo-container">
	<app-menu></app-menu>
    <div class="superior">
        <div class="titulo">
            <h1>Catalogo</h1>
        </div>
        <div class="tabs-container">
            <div class="tabs">
                <button style="border-bottom:2px solid white">Montañeras</button>
                <button>Vintage</button>
                <button>Deportivas</button>
                <button>Otras</button>
            </div>
        </div>
    </div>
    <div class="catalogo">
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta1.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 1</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta2.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>RUSH Xtreme M3x</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta3.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 3</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta4.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 4</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta1.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 1</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta2.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>RUSH Xtreme M3x</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta3.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 3</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta4.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 4</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta1.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 1</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta2.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>RUSH Xtreme M3x</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta3.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 3</h2>
                <button>Ver Más</button>
            </div>
        </div>
        <div class="bicicleta">
            <figure><img src="../../assets/img/bicicleta4.png" alt=""></figure>
            <div class="catalogo-info">
                <h2>Modelo 4</h2>
                <button>Ver Más</button>
            </div>
        </div>
    </div>
</div>
