<div class="catalogo-container">
	<app-menu></app-menu>
	<div class="superior">
		<div class="titulo">
			<h1>Catalogo</h1>
		</div>
		<div class="tabs-container">
			<div class="tabs">
				<button (click)="array('Montaneras')">Montañeras</button>
				<button (click)="array('Vintage')">Vintage</button>
				<button (click)="array('Deportivas')">Deportivas</button>
				<button (click)="array('Electricas')">Electricas</button>
			</div>
		</div>
	</div>
	<div class="catalogo">
		<div class="montaneras">
			<div class="bicicleta" *ngFor="let bicicleta of bicicletasActual; let indice = index">
				<figure>
					<img src="{{bicicleta.imagenURL}}" alt="">
				</figure>
				<div class="catalogo-info">
					<h2>{{bicicleta.nombre}}</h2>
					<button (click)="getBici(bicicleta._id)">Ver Más</button>
				</div>
			</div>
		</div>
	</div>
</div>