<div class="burguer menucanvas">
    <fa-icon [icon]="faBars" (click)="menuCanvasOn()"></fa-icon>
</div>
<div class="menu" #menu>
    <div class="menuoff menucanvas">
        <fa-icon [icon]="faTimes" (click)="menuCanvasOff()"></fa-icon>
    </div>
    <ul>
        <li><a href="" [routerLink]="['../home']" [routerLinkActive]="['home']">Inicio</a></li>
        <li><a href="" [routerLink]="['../catalogo']" [routerLinkActive]="['home']">Catalogo</a></li>
        <li><a href="" [routerLink]="['../contacto']" [routerLinkActive]="['home']">Contacto</a></li>
        <li><a href="" [routerLink]="['../login']" [routerLinkActive]="['home']">Iniciar Sesion</a></li>
    </ul>
</div>
