/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --turquesa: rgb(31, 248, 230);
    --negro: #303030;
}
::selection {
    background-color: var(--turquesa);
}
.titulo {
    padding: 60px 100px 35px;
}
.titulo h1 {
    color: #fff;
    font-size: 3em;
}
@media screen and (max-width: 800px){
    .titulo {
        /* margin-top: 0; */
        padding-top: 10px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 400px){
    .titulo {
        padding-left: 20px;
    }
}
