<div class="home-container">
	<div class="menu">
		<ul>
			<li><a href="" [routerLink]="['../home']" class="home">Inicio</a></li>
			<li><a href="" [routerLink]="['../catalogo']">Catalogo</a></li>
			<li><a href="" [routerLink]="">Contacto</a></li>
			<li><a href="" [routerLink]="['../login']">Iniciar Sesion</a></li>
		</ul>
	</div>
	<header class="header">
		<div class="header1 headers" #headers></div>
		<div class="header2 headers" style="visibility: hidden; opacity: 0"#headers></div>
		<div class="header3 headers" style="visibility: hidden; opacity: 0"#headers></div>
	</header>

	<div class="home-info">
		<h1>Fast Bike</h1>
		<p>En <span>Fast Bike </span>tenemos como mision hacer que las personas eligan usar una bicicletas antes que un auto. Por eso nos dedicamos a dar un servicio de primera a nuestros usuario. En nuestro catalogo encontraras bicicletas de todo tipo desde montañeras hasta vintage. 
		<br><span>¿Que dices, te animas a ver?  </span>
		</p>
		<button><a href="" [routerLink]="['../catalogo']">Catalogo</a></button>
	</div>
</div>